.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  background-color: #111;
}

.nav__logo {
  position: fixed;
  padding-top: 10px;
  left: 20px;
  width: 80px;
  object-fit: contain;
}

.nav__user {
  position: fixed;
  padding-top: 18px;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
